* {
    font-size: 12px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    margin: 0;
}

#Container {
    width: 360px;
    height: 640px;
    background-color: rgb(61, 61, 61);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: #fff;
    margin: 20px 0;
    text-align: center;
}

#chatting-bg {
    width: 360px;
    height: 400px;
    border: 1px solid rgb(51, 51, 51);
    background-color: #F5E050;
    overflow: auto;
    padding: 10px;
    border-radius: 10px;
}

.outputMsg {
    background-color: #64beff;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0 5px 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    display: inline-block;
}

img {
    width: 40px;
    display: inline-block;
}

.leftMsg {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0 5px 0;
    display: inline-block;
    text-align: left;
}

#chatting-bg p {
    text-align: right;
    margin: 5px 10px;
}

#inputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #515356;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#nameInput,
#msgInput {
    width: 100%;
    padding: 10px;
    font-size: 10px;
    border: none;
    background-color: #eee;
}

#nameInput {
    flex: 1;
    margin-right: 10px;
    border-radius: 30px;
}

#msgInput {
    flex: 3;
    border-radius: 30px;
}

#sendBtn {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background-color: #4f4f4f;
    color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    flex-shrink: 0;

}

#sendBtn:hover {
    background-color: #707070;
}

/* 스크롤바의 전체 영역 */
::-webkit-scrollbar {
    width: 12px; /* 세로 스크롤바의 너비 */
    height: 12px; /* 가로 스크롤바의 높이 */
  }
  
  /* 스크롤바의 배경 */
  ::-webkit-scrollbar-track {
    background-color: #F5E050; /* 배경 색상 */
    border-radius: 10px; /* 둥근 모서리 */
  }

  
  /* 스크롤바의 핸들 */
  ::-webkit-scrollbar-thumb {
    background-color: #feef8c; /* 핸들 색상 */
    border-radius: 10px; /* 둥근 모서리 */
    height : 10px
  }
  
  /* 스크롤바 핸들에 마우스를 올렸을 때 */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #fff6bf; /* 핸들 색상이 어두워짐 */
  }